/*--------------------- IMPORT ------------------*/
@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

/*--------------------ROOT----------------*/
:root {
    --dark-green :#354842;
    --mulberry :#BF5A84;
    --shadow-mulberry:#7d5062;
    --pale-purple: #F5DFEB;
    --very-pale-pink: #FCF0F7;
    --light-green:#9AA79E;
    --dark-red:#802A47;
    --cream-white : #fffcfc;

    --radius-bigcard : 35px;
    --radius-smallcard : 15px;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    background: url('output.jpg') no-repeat center center;
    background-size: cover;
}

/*--------------WRTITE-------------*/
h1 {
    font-family: "Rozha One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.8rem;
    color : goldenrod;
    margin-bottom:3rem;
    margin-top: 2rem;
    text-align: center;
}

h2 {
    font-family: "Rozha One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
    color : white;
    margin-bottom: 5px;
    margin-top: 0;
}

p {
    font-size: 1rem;
    color : black;
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
    line-height: 1.8rem;
    display: flex;
    justify-content: center;
}


section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:8rem;
    
}


.certif, .projet {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #D9C19D;
    border:2px double goldenrod;
    border-radius: var(--radius-bigcard);
    padding: 1rem;
    height: 50vh;
    text-align: center;
}



/*-------------------------SIDE BAR----------------*/
.sidebar {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-right: 2rem;
    width: 40px;
    height: auto; 
    background-color: transparent; 
    padding: 0.8rem;
    border: 2px solid var(--mulberry);
    border-radius: 4rem;
    z-index: 1000; 
}


.sidebar nav {
    list-style-type: none;
    padding: 0;
}

.sidebar nav .nav {
    justify-items: center;
    display: flex;
}

.sidebar .element {
    width: 40px;
    height:40px;
    border: 1px solid transparent;
    border-radius: 50%;
    transition: 0.3s ease;
    justify-content: center;
    align-items: center;
    display: flex;

}
.sidebar .element img{
    width: 32px;
}

.sidebar .element:hover{
    background: var(--light-green);
    border: 1px solid var(--light-green);
    transform:scale(1.15);
}


/*---------MEDIA---------*/
@media (max-width: 768px) {
    section {
        display: grid;
        gap:2rem;
        margin-bottom: 2rem;
    } 

    .certif, .projet {
        height: 40vh;
    }

}