/*--------------------- IMPORT ------------------*/
@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Rozha+One&display=swap');

/*--------------------ROOT----------------*/
:root {
    --dark-green :#354842;
    --mulberry :#BF5A84;
    --shadow-mulberry:#7d5062;
    --pale-purple: #F5DFEB;
    --very-pale-pink: #FCF0F7;
    --light-green:#9AA79E;
    --dark-red:#802A47;
    --cream-white : #fffcfc;

    --radius-bigcard : 35px;
    --radius-smallcard : 15px;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    background: url('output.jpg') no-repeat center center;
    background-size: cover;
}


/*--------------WRTITE-------------*/
h1 {
    font-family: "Rozha One", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2.4rem;
    color : var(--dark-green);
    margin-top: 14px;
    margin-bottom:0;
    display: flex;
    justify-content: center;
}

h2 {
  font-family: "Rozha One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  color : white;
  margin-top: 14px;
  margin-bottom:0;
}

p {
    font-size: 1rem;
    color : var(--dark-red);
    font-family: "Questrial", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 1.4rem;
}

/*-----------SCHOOL-----------*/

section {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2rem;
}

/*----------------BOOK-----------*/
.book {
    position: relative;
    border-radius: 10px;
    width: 13rem;
    height: 16rem;
    background-color: rgb(232, 216, 190);
    box-shadow: 1px 1px 12px #393939;
    transform: preserve-3d;
    perspective: 2000px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.cover {
    top: 0;
    position: absolute;
    background-color: rgb(69, 56, 45);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
    transform-origin: 0;
    box-shadow: 1px 1px 12px #282727;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.book:hover .cover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    transform: rotatey(-88deg);
}

/*--------- BOOK OF EXP----------*/

.exp .book  {
  width: 30rem;
  height: 15rem;
}

/*------------MEDIA----------*/
@media (max-width: 768px) {
  p {
    font-size: 0.6rem;
    line-height: 1rem;
  }

  h1{
    font-size: 1.9rem;
  }
  h2 {
    font-size: 1rem;
  }
}



/*-------------------------SIDE BAR----------------*/
.sidebar {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  margin-right: 2rem;
  width: 40px;
  height: auto; 
  background-color: transparent; 
  padding: 0.8rem;
  border: 2px solid var(--pale-purple);
  border-radius: 4rem;
  z-index: 1000; 
}


.sidebar nav {
  list-style-type: none;
  padding: 0;
}

.sidebar nav .nav {
  justify-items: center;
  display: flex;
}

.sidebar .element {
  width: 40px;
  height:40px;
  border: 1px solid transparent;
  border-radius: 50%;
  transition: 0.3s ease;
  justify-content: center;
  align-items: center;
  display: flex;

}
.sidebar .element img{
  width: 32px;

}

.sidebar .element:hover{
  background: var(--pale-purple);
  border: 1px solid var(--pale-purple);
  transform:scale(1.15);
}